body {
	font-family: 'Lato', sans-serif;
	background-color: black;
	color: white;
}

nav {
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	height: 200px;
	padding: 20px;
}
.nav-item {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin: 30px 0;
	position: relative;
	text-transform: uppercase;
	width: 400px;
}

.nav-item span {
	background-color: #ef0;
	display: inline-block;
	height: 5px;
	margin-right: 10px;
	width: 300px;
}

.nav-item:nth-of-type(2) span  {
	width: 270px;
}

section {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

p {
	font-size: 24px;
}

/*NAME SECTION*/
#name-section {
	background-color: #ef0;
	background: rgb(0,242,96);
	background: linear-gradient(90deg, rgba(0,242,96,1) 0%, rgba(5,117,230,1) 94%);
	color: white;
	margin-bottom: 50px;
	padding: 100px 0;
}

#name {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Righteous', sans-serif;
	font-size: 200px;
	justify-content: center;
	transform: scale(.8);
}

#line {
	align-items: flex-end;
	display: flex;
	height: 150px;
	margin-left: 15px;
	width: 400px;
}

.letter-container {
	display: flex;
	position: relative;
	width: 150px;
}

#container-i {
	width: 80px;
}

#container-n {
	width: 185px;
}

/* since height grows from top to bottom, flip these so they grow vertically */
.segment {
	height: 28px;
	max-width: 150px;
	overflow: hidden;
	transform: rotate(180deg);
	width: 150px;
}

.top-segment {
	height: 28px;
	overflow: hidden;
	width: 150px;
}

.fill, .bottom-fill {
	background-color: white;
}

.bottom-fill {
	height: 100px;
}

.top-fill {
	background-color: white;
	height: 28px;
	position: absolute;
	width: 0px;
}

#segment-l-bottom {
	min-width: 90px;
}

#segment-i-bottom {
	min-width: 28px;
}

#segment-e-bottom {
	min-width: 90px;
}

#segment-l-vert, 
#segment-i-vert, 
#segment-n-left, 
#segment-n-diag, 
#segment-n-right, 
#segment-e-vert {
	bottom: 0;
	height: 140px;
	position: absolute;
	width: 28px;
}

#segment-e-top {
	display: block;
	position: absolute;
	bottom: 112px;
	width: 60px;
}

#segment-n-diag {
	bottom: -3px;
	right: 65px;
	height: 146px;
	transform: rotate(150deg);
}

#segment-n-right {
	right: 26px;
}

#segment-e-middle {
	bottom: 55px;
	display: block;
	position: absolute;
	width: 60px;
}

#segment-e-top {
	width: 90px;
}

/*ABOUT SECTION*/
#about-section {
	border-bottom: solid 3px #ef0;
	box-sizing: border-box;
	flex-wrap: wrap;
	padding: 20px;
}

.photo img {
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

#about-section p {
	max-width: 600px;
}

/*PROJECTS SECTION*/
#projects-section {
	box-sizing: border-box;
	padding: 20px;
}

#projects-section h2 {
	width: 100%;
}

#projects-section img {
	height: 200px;
	width: 250px;
}



@media screen and (min-width: 768px) {
	.nav-item {
		top: 120px;
		transform: rotate(-45deg);
	}
	#name-section {
		padding: 300px 0;
	}
	#name {
		transform: scale(1);
	}
	#about-section {
		padding: 20px 80px;
	}

	.photo {
		margin-right: 10%;
	}
}





